<footer>
    <div class="container footer_container">
        <div class="row py-3 footer">
            <div class="col-2 footer_1">
                <a routerLink="/home">
                    <p>Trang chủ</p>
                </a>
                <a routerLink="/new">
                    <p>Mới nhất</p>
                </a>
                <a routerLink="/more">
                    <p>Xem nhiều</p>
                </a>
                <a routerLink="/hot">
                    <p>Tin nóng</p>
                </a>
            </div>
            <div class="col-2 footer_2">
                <a routerLink="/home">
                    <p>Thời sự</p>
                </a>
                <a routerLink="/new">
                    <p>Góc nhìn</p>
                </a>
                <a routerLink="/more">
                    <p>Thế giới</p>
                </a>
                <a routerLink="/hot">
                    <p>Kinh doanh</p>
                </a>
                <a routerLink="/hot">
                    <p>Giải trí</p>
                </a>
            </div>
            <div class="col-2 footer_2">
                <a routerLink="/home">
                    <p>Thể thao</p>
                </a>
                <a routerLink="/new">
                    <p>Pháp luật</p>
                </a>
                <a routerLink="/more">
                    <p>Giáo dục</p>
                </a>
                <a routerLink="/hot">
                    <p>Sức khỏe</p>
                </a>
                <a routerLink="/hot">
                    <p>Đời sống</p>
                </a>
                <a routerLink="/hot">
                    <p>Du lịch</p>
                </a>
            </div>
            <div class="col-2 footer_2">
                <a routerLink="/home">
                    <p>Khoa học</p>
                </a>
                <a routerLink="/new">
                    <p>Số hóa</p>
                </a>
                <a routerLink="/more">
                    <p>Xe</p>
                </a>
                <a routerLink="/hot">
                    <p>Ý kiến</p>
                </a>
                <a routerLink="/hot">
                    <p>Tâm sự</p>
                </a>
                <a routerLink="/hot">
                    <p>Thư giản</p>
                </a>
            </div>
            <div class="col-2 footer_3">
                <a routerLink="/new">
                    <p>Rao vặt</p>
                </a>
                <a routerLink="/more">
                    <p>Start Up</p>
                </a>
                <a routerLink="/hot">
                    <p>E-book</p>
                </a>
            </div>
            <div class="col-2 footer_4">
                <div class="contact">
                    <span class="text-secondary">Liên hệ</span>
                    <div class="contact_footer">
                        <div class="d-flex">
                            <fa-icon class="text-secondary" [icon]="fa.faEmail"></fa-icon>
                            <span class="item">Tòa sạn</span>
                        </div>
                        <div class="d-flex">
                            <fa-icon class="text-danger" [icon]="fa.faPr"></fa-icon>
                            <span class="item">Quảng cáo</span>
                        </div>
                    </div>

                    <div class="d-flex">
                        <fa-icon class="text-warning" [icon]="fa.faCardBoard"></fa-icon>
                        <span class="item">Hợp tác bản quyền</span>
                    </div>
                </div>
                <div class="downloand_app">
                    <span class="text-secondary">Tải ứng dụng</span>
                    <div class="button_dow">
                        <img src="/assets/images/home/logo.png" />
                        <span>Tải ứng dụng</span>
                    </div>
                </div>
                <div class="hotline">
                    <span class="text-secondary">Đường dây nóng</span>
                    <div class="d-flex flex-column mt-1">
                        <a tel:0348485360>034.8485.360</a>
                        <span>(Hà Nội)</span>
                    </div>
                    <div class="d-flex flex-column">
                        <a tel:0386378436>038.637.8436</a>
                        <span>(TP. Hồ Chí Minh)</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-3 footer_second">
            <div class="col-12 d-flex justify-content-between">
                <div class="footer_second_1">
                    <span> Báo điện tử</span>
                    <span class="title_footer"> NEWS 247</span>
                </div>
                <div class="footer_second_2">
                    <span>Theo dõi News 247 trên</span>
                    <img src="assets/images/home/logo_facebook.png" />
                    <img src="assets/images/home/logo_youtube.png" />
                    <img src="assets/images/home/logo_instagram.png" />
                </div>
            </div>
        </div>
    </div>
</footer>