<div class="all_category_container">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-between align-items-center p-2">
                <h3>Tất cả chuyên mục</h3>
                <div class="close_item" (click)="renderAll()">
                    <h6>Đóng</h6>
                    <fa-icon [icon]="fa.faXmark"></fa-icon>
                </div>
            </div>
        </div>
        <div class="row">
            <div *ngFor="let item of allCategory" class="col-2 item">
                <span class="category">{{item.name}}</span>
                <div class="d-flex flex-column theme">
                    <a *ngFor="let i of item.listTheme">{{i.name}}</a>
                </div>
            </div>
        </div>
    </div>
</div>